/* ------------------- 
   mobile version
   -------------------*/

@media (max-width: 1200px) {
  .profile-picture-container {
    margin-right: 0;
  }

  .project-container {
    min-width: 60%;
  }

  .cv-section li,
  .cv-section p,
  .cv-section span {
    font-size: 16px;
  }
  .road-image {
    margin-left: 350px;
  }
  .graduation-article {
    margin-left: 680px;
  }
  .job-article {
    margin-left: 750px;
  }
}

@media (max-width: 1110px) {
  .cv-section {
    height: fit-content;
  }
  .road-image {
    display: none;
  }
  .graduation-article,
  .university-article,
  .job-article,
  .specialization-article {
    position: relative;
    margin: 0;
    border: 3px dashed var(--black);
    border-radius: 20px;
    padding: 0 10px;
  }
  .cv-projects-container {
    display: grid;
    grid-template-columns: 400px auto;
    column-gap: 20px;
  }
  .graduation-article {
    grid-column: 1;
    grid-row: 1;
  }
  .university-article {
    grid-column: 2;
    grid-row: 2;
  }
  .job-article {
    grid-column: 1;
    grid-row: 3 / span 4;
  }
  .specialization-article {
    grid-column: 2;
    grid-row: 4 / span 5;
  }

  .skills-container {
    font-size: 16px;
  }
  .skills-background-image-1,
  .skills-background-image-2 {
    height: 620px;
  }
  .skills-part-2 {
    left: 79%;
  }
}

@media (max-width: 1000px) {
  .introduction-profil-picture-section {
    padding: 100px 30px 50px 30px;
  }
  .introduction-background-image {
    width: 400px;
  }
  .introduction-text {
    font-size: 18px;
  }

  .profile-picture-background-image {
    width: 300px;
  }
  .profile-picture {
    width: 220px;
  }

  .skills-background-image-1,
  .skills-background-image-2 {
    height: 560px;
  }
  .skills-part-2 {
    left: 81%;
  }
}

@media (max-width: 910px) {
  .cv-projects-container {
    grid-template-columns: auto auto;
    row-gap: 10px;
  }
  .graduation-article {
    grid-column: 1 / span 2;
  }
  .university-article {
    grid-column: 1 / span 2;
  }
  .job-article {
    grid-column: 1;
    grid-row: 3;
    height: fit-content;
  }
  .specialization-article {
    grid-column: 2;
    grid-row: 3;
  }

  .skills-background-image-1,
  .skills-background-image-2 {
    height: 500px;
  }
  .skills-part-1 {
    left: 26%;
  }
  .skills-part-2 {
    left: 82%;
  }
}

@media (max-width: 830px) {
  .skills-part-2 {
    left: 84%;
  }
}

@media (max-width: 770px) {
  nav {
    display: none;
  }

  .cv-section {
    padding: 50px 20px;
  }
  .cv-projects-container {
    font-size: 16px;
  }

  .introduction-profil-picture-section {
    padding: 50px 30px;
  }
  .introduction-background-image {
    width: 350px;
  }
  .introduction-text {
    font-size: 16px;
  }

  .profile-picture-background-image {
    width: 250px;
  }
  .profile-picture {
    width: 180px;
  }

  .project-container > img {
    width: 100%;
  }

  .skills-container {
    flex-wrap: wrap;
  }
  .skills-background-image-1 {
    height: 470px;
  }
  .skills-background-image-2 {
    height: 540px;
  }
  .skills-part-1 {
    top: 22%;
    left: 50%;
  }
  .skills-part-2 {
    top: 70%;
    left: 57%;
  }
}

@media (max-width: 700px) {
  .introduction-container {
    grid-column: 1 / span 2;
  }
  .introduction-background-image {
    width: 400px;
  }
  .introduction-text {
    font-size: 18px;
  }

  .profile-picture-container {
    grid-row: 2;
    justify-self: center;
  }

  .projects-header,
  .projects-paragraph {
    margin-left: 0;
  }
}

@media (max-width: 590px) {
  .introduction-container {
    grid-column: 1;
  }
  .contact-links {
    grid-row: 3;
  }
  .profile-picture-container {
    grid-column: 1;
    grid-row: 2;
  }
  .profile-picture-background-image {
    width: 300px;
  }
  .profile-picture {
    width: 220px;
  }

  .job-article {
    grid-column: 1 / span 2;
  }
  .specialization-article {
    grid-column: 1 / span 2;
    grid-row: 4;
  }
}

@media (max-width: 480px) {
  .introduction-background-image {
    width: 325px;
  }
  .introduction-text {
    font-size: 16px;
  }
  .profile-picture-background-image {
    width: 250px;
  }
  .profile-picture {
    width: 180px;
  }

  .skills-background-image-1 {
    height: 450px;
  }
  .skills-background-image-2 {
    height: 500px;
  }
  .skills-part-2 {
    top: 72%;
    left: 63%;
  }

  footer {
    flex-direction: column;
    gap: 0;
    height: 180px;
  }
  .github-frontend-mentor-section {
    align-items: center;
    margin-top: 10px;
  }
  .email-mobil-section {
    align-items: center;
    margin-bottom: 10px;
  }
}
