@import url("https://fonts.googleapis.com/css2?family=Mynerve&family=Raleway:wght@400;700&display=swap");

:root {
  --primary-font: "Raleway", sans-serif;
  --secondary-font: "Mynerve", cursive;
}

body {
  font-size: 18px;
  font-family: var(--primary-font);
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}
ul > a {
  list-style-type: none;
}

.sr-only {
  display: none;
}

/* introduction */

.introduction-profil-picture-section {
  display: grid;
  background-color: rgb(189, 244, 238);
  padding: 50px;
}

.introduction-container {
  position: relative;
  width: fit-content;
  height: fit-content;
  grid-column: 1;
  grid-row: 1;
  margin: auto;
}
.introduction-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  line-height: 2;
  font-size: 20px;
}

.contact-links {
  grid-column: 1;
  grid-row: 2;
  margin: auto;
  line-height: 1.5;
}

.profile-picture-container {
  position: relative;
  width: fit-content;
  grid-column: 2;
  grid-row: 1 / span 2;
  justify-self: end;
  margin-right: 30px;
}
.profile-picture {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* projects */

.projects-section {
  margin: 50px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 20px;
}

.project-container {
  padding: 20px;
  box-shadow: 0 0 10px black;
}
.project-container:hover,
.project-container:active {
  box-shadow: 0 0 20px black;
  cursor: pointer;
}

.project-container > h3 {
  text-align: center;
  max-width: 600px;
}

.project-container > img {
  width: 600px;
  height: auto;
}

@media (max-width: 800px) {
  .project-container > img {
    width: 100%;
  }
}
